*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(241,245,248);
  font-family: 'Montserrat', sans-serif;
}
.App{
  text-align: center;
  
}
.header{
  height: 100px;
  background-color: rgb(38,128,192);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 24px;
}
.input{
  margin: 20px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 5px;
  grid-auto-rows: 10px;
}
.grid img {
  width: 250px;
}
@media only screen and (max-width: 500px) {
  .header{
    font-size: 18px;
  }
}